@font-face {
  font-family: 'iconfont'; /* project id 1980695 */
  src: url('//at.alicdn.com/t/font_1980695_xo26ddrbo8.eot');
  src: url('//at.alicdn.com/t/font_1980695_xo26ddrbo8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1980695_xo26ddrbo8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1980695_xo26ddrbo8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1980695_xo26ddrbo8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1980695_xo26ddrbo8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconguanbi1:before {
  content: '\e64f';
}

.iconsousuo:before {
  content: '\e62e';
}

.icondouyin:before {
  content: '\e690';
}

.iconzhibo:before {
  content: '\e755';
}

.iconfanhui:before {
  content: '\e604';
}

.iconguanbi:before {
  content: '\e664';
}
